<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('blocks/head') -%>
    <link rel="stylesheet" href="/styles/login.css">
</head>
<body>
    <%- include('blocks/header') -%>
    <main>
        <div class="form-block">
            <form method="post" autocomplete="off" action="/login">
                <h3 class="form-title">Log in to Exclusive</h3>
                <p class="form-info">Enter your details below</p>
                <input type="email" name="email" id="email" placeholder="Email" required>
                <input type="password" name="password" id="password" placeholder="Password" required>
                <div class="form-buttons">
                    <input type="submit" value="Log In">
                    <a href="#">Forgot password?</a>
                </div>
            </form>
        </div>
    </main>
    <%- include('blocks/footer') -%>
    <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
    <script src="/scripts/main.js"></script>
</body>
</html>