<header>
    <div class="logo">
        <a href="/">
            <img src="/images/logo.png" alt="">
            <h3>iBuy</h3>
        </a>
    </div>
    <nav>
        <a href="/">Home</a>
        <a href="/contact">Contact</a>
        <a href="/about">About</a>
    </nav>
    <div class="header-buttons">
        <ion-icon name="heart-outline"></ion-icon>
        <img src="/images/<%= !user ? 'user.jpg' : 'avatar.png' %>" class="profile-icon" alt="">
    </div>
    <div class="profile-options" style="display: none;">
        <% if(user) { %>
            <a href="/profile" id="first-link"><ion-icon name="person-outline"></ion-icon>My Account</a>
            <a href="#"><ion-icon name="bag-handle-outline"></ion-icon>My Purchases</a>
            <a href="/myposts"><ion-icon name="shirt-outline"></ion-icon>My Ads</a>
            <a href="/signout" id="last-link"><ion-icon name="log-out-outline"></ion-icon>Logout</a>
        <% } else { %>
            <a href="/signup" id="first-link"><ion-icon name="person-add-outline"></ion-icon>Sign Up</a>
            <a href="/login" id="last-link"><ion-icon name="log-in-outline"></ion-icon>Log In</a>
        <% } %>
    </div>
    <hr class="header-line">
</header>