main .post-block {
    display: flex;
    flex-wrap: wrap;
    width: 84%;
    padding: 40px 8%;
    justify-content: space-around;
    gap: 30px;
}

main .post-image {
    position: relative;
    height: 600px;
    background-color: rgb(196, 196, 196);
    display: flex;
    justify-content: center;
    align-items: center;
}

main .post-image img {
    position: relative;
    object-fit: contain;
    height: 100%;
    width: 100%;
}

main .post-main {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 600px;
    gap: 20px;
}

main .post-main .post-info {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
}

main .post-main .post-info .name {
    font-size: 36px;
    font-weight: 700;
    margin: 0;
}

main .post-main .post-info .price {
    font-size: 26px;
    font-weight: 700;
    margin: 20px 0px;
}

main .post-main .post-info .border {
    width: 100%;
    border: 1px solid black;
    opacity: 0.25;
}

main .post-main .post-info .description-title {
    font-size: 24px;
    font-weight: 600;
    margin: 20px 0px 10px 0px;
}

main .post-main .post-info .description {
    font-size: 20px;
}

main .post-main .post-info .more-info {
    position: relative;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

main .post-main .post-owner {
    display: flex;
    width: 100%;
    height: 120px;
    gap: 40px;
}

main .post-main .post-owner p {
    margin: 0;
}

main .post-main .post-owner .name {
    font-size: 20px;
    font-weight: 600;
}

main .post-main .post-owner img {
    position: relative;
    height: 100%;
}

main .post-main .post-owner .owner-info {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 15px 0px;
}

main .post-main .post-owner .owner-info .contacts {
    display: flex;
    justify-content: space-between;
    font-size: 16px;
    gap: 50px;
}